.leaders__mobileOnly {
    display: block;

}

@media (min-width: 768px) {
    .leaders__mobileOnly {
        display: none;
    }
}



.leaders__titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
    flex-wrap: wrap;
}




.leaders__arrows {
    display: flex;
    gap: 10px;
}

.leaders__arrow {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 999px;
    width: 26px;
    height: 26px;
    line-height: 18px;
    font-size: 18px;
    color: #3a2a2a;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}



.leaders__sliderWrapper {
    width: 100%;
    overflow: hidden;
}

.leaders__card {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 12px;
}

.leaders__content {
    display: flex;
    gap: 10px;
}



.leaders__avatar {
    border-radius: 12px;
    object-fit: cover;
    height: 78px;

}

.leaders__designation {
    font-family: var(--erstoria);
    color: var(--black);
}