.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.14px;
  vertical-align: middle;
  color: #17100e;
}

.checkboxLabel {
  font-size: 16px;
  /* line-height: 16.22px; */
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}

.stepIndicator {
  font-family: Salmond;
  font-weight: 700;
  font-size: 12px;
  line-height: 13.52px;
  letter-spacing: -0.34px;
  color: #8F8F8F;
}



.field {
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6B6A6B;
}

.formMessage {
  font-family: Erstoria;
  font-weight: 400;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -0.14px;
  vertical-align: middle;
  color: #000000;
}

.formDescription {
  font-family: Salmond;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.14px;
  text-align: center;
  vertical-align: middle;
  color: #636363;
}