.textReveal > div {
    background: linear-gradient(
      to right,
      rgb(0, 0, 0) 50%,
      rgb(228, 228, 228) 50%
    );
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
    /* margin-left: 50px; */
    line-height: 1.2;
    /* font-size: 50px; */
  }
  